%%
%% http server options
{cowboy_port, 8090}.
{cowboy_max_restart, 1}.
{cowboy_max_time, 5}.


%%
%% ssh login credentials and connection options
{ssh_user_id, ""}.
{ssh_host, ""}.
{ssh_user_password, ""}.
{ssh_port, 22}.
{ssh_opts, [{silently_accept_hosts, true}, {connect_timeout, infinity} ]}.


%%
%% default shell
{default_shell, "/usr/bin/bash"}.
