%%
%% http server options
{cowboy_port, 8090}.
{cowboy_max_restart, 1}.
{cowboy_max_time, 5}.


%%
%% ssh login credentials and connection options
{ssh_host, "host_ip"}.
{ssh_port, 22}.
{ssh_user_id, "userid"}.
{ssh_user_password, "password"}.
{ssh_opts, [{silently_accept_hosts, true}, {connect_timeout, infinity} ]}.


%%
%% default shell invoked on the target ssh_host
{default_shell, "/usr/bin/bash"}.
